<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yonalish</title>
</head>
<body>
      <h2>!Yonalishlar!</h2>
      <br>
      <br>
      <hr>
      <form method="get">
        <input type="text" name="search" placeholder="yonalish nomi boyicha ohtaring">
        <button>ohtar</button>
      </form>
      <hr>
      <ul>
        {% for i in yonalishlar %}
        <li>
            {{i}}
        </li>
          <a href="/yonalish_ochir/{{i.id}}/"><button>ochirish</button></a>
          {%endfor%}
      </ul>
      <form method="post">{% csrf_token %}
          <input type="text" name="nom" placeholder="nom">
          <input type="text" name="aktiv" placeholder="aktiv">
          <button type="submit">qoshish</button>
      </form>
</body>
</html>
